/* .buttonContainer{
    width: 100%;
}

button{
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background: linear-gradient(0deg, rgb(192, 171, 52) 0%, rgba(156,199,232,1) 100%);
} */