button{
    background-color: #724c27;
    color: #FFF;
    padding: 0 45px;
    border: 2px solid #d49453;
    border-radius: 10px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background-color: #e29625;
}