.form_control{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 10px;
    background-color: rgb(238, 204, 172);
    border: 5px solid #724c27;
    border-radius: 10px;
}

.form_control label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color: #300000;
    font-weight: bold;
}

.form_control select{
    width: 625px;
    padding: 20px;
    border-radius: 0;
    border: none;
    color: #7B7B7B;
}